body {
    background-color:#e6f2f9;
    font-family: 'Roboto', sans-serif;;
}
strong{
    color: #0d53bb;
}
a {
    color: #FFCD00;
}
footer{
    font-size: 12px;
    text-align: center;
}
.weather-app{
    background:  #fff;
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
    /* border: 1px groove #0d53bb; */
    
}

.search-form {
    display: block;
}
.search-form-input{
    width: 80%;
    border: 0.5px solid #0d53bb;
    border-radius: 10px;
    padding: 20px;
}

.search-form-button{
    background-color:#0d53bb ;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 18%;
    font-size: 14px;
    margin-left: 8px;
}

